
# Create ".env" file with appopraite values for folowing keys.


# -------------------------------------------------- DEVELOPMENT EXAMPLE --------------------------------------------------
# -------------------------------------------------------------------------------------------------------------------------
PORT=3000
TSC_COMPILE_ON_ERROR=false # Should avoid breaking "Build" when TypeScript error occured.


# -------------------------------------------------- PRODCUTION EXAMPLE --------------------------------------------------
# ------------------------------------------------------------------------------------------------------------------------
PORT=3000
TSC_COMPILE_ON_ERROR=false
